<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <br>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 center-block" style="float: none;">
        <div class="panel panel-primary">
            <div class="panel-heading" style="text-align: center;">
                <h3 class="panel-title">
                    <img src="/img/weixin.jpg">
            </div>
            <div class="list-group" style="text-align: center;">
                <div class="list-group-item" style="padding: 30px;">
                    <font style="font-size:40px;color: red;">￥[[${result.totalAmount}]] &nbsp;</font>
                </div>
                <div class="list-group-item list-group-item-info">支付完成后请返回耐心等待</div>
                <div class="list-group-item" style="padding: 20px;"><a href="javascript:void(0);" class="btn btn-primary dopay">点击打开微信支付</a></div>
                <meta http-equiv="refresh" content=""/>
            </div>
        </div>
    </div>
    <input th:value="${result.tradeNo}" type="hidden"  name="tradeNo"   id="tradeNo"/>
    <input th:value="${result.billNo}" type="hidden" name="billNo"  id="billNo"/>
    <input th:value="${result.totalAmount}" type="hidden" name="totalAmount"  id="totalAmount" />
    <input th:value="${result.payInfo}" type="hidden" name="payInfo"  id="payInfo"/>
    <input th:value="${result.linkUrl}" type="hidden" name="linkUrl"  id="linkUrl"/>
    <input th:value="${result.h5pay}" type="hidden" name="h5pay"  id="h5pay"/>

    <script src="/js/jquery.min.js"></script>
    <script>
<!--			function check(){-->
<!--			var tradeNo=$("#tradeNo").val();-->
<!--				$.ajax({-->
<!--					type: "post",-->
<!--					url: "",-->
<!--					dataType: "json",-->
<!--					timeout : 5000,-->
<!--					data: {tradeNo:tradeNo},-->
<!--					success: function(obj){-->
<!--						if(obj.code==0){ -->
<!--							window.location.href = '<?php echo $_REQUEST["returnUrl"]?>';-->
<!--						}else{-->
<!--						    alert(obj.message);-->
<!--						}-->
<!--					}-->
<!--				});-->
<!--			}-->
<!--			check_time = setInterval(check,2000);-->
			$(".dopay").click(function(){
			    $(this).attr("disabled","disabled");
	            $(this).removeAttr("onclick","");
			    window.location.href = $("#linkUrl").val();
		    });
	</script>
</body>
</html>