<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Videos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

	<link href="/css/mescroll.min.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="keywords" content="Videos" />
	<script src="/js/mescroll.min.js" charset="utf-8"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>

		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style>
		* {
			margin: 0;
			padding: 0;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-webkit-tap-highlight-color: transparent;
		}

		/*模拟的标题,底部*/


		/*列表*/
		.mescroll {}

		/*回到顶部按钮*/
		.mescroll-totop {
			bottom: 70px;
		}
	</style>
</head>

<body>




	<div class="mescroll" id="mescroll">
		<div id="mse" class="mse"></div>
		<script src="//cdn.jsdelivr.net/npm/xgplayer@1.1.4/browser/index.js" charset="utf-8"></script>
		<!---start-wrap---->
		<!---start-header---->
		<div class="header">
			<div class="wrap">
				<!---start-logo---->
				<div class="logo">
				</div>
				<!---End-logo---->
				<!---start-top-menu-search---->
				<div class="top-menu">
					<div class="top-nav">
						<ul>
							<li class="category" th:each="item,stat:${categoryList}" th:data="${item.categoryId}"><a
									th:data="${item.categoryId}" href="javascript:void(0);">[[${item.categoryName}]]</a>
							</li>
							</li>
							<a class="highlight category" href="javascript:void(0);" data="buy"
								style="font-weight: bold; color: #bfd128;">已购</a>
							</li>
						</ul>
					</div>
					<div class="search">
						<form>
							<input type="text" id="keyword" class="textbox" value="" placeholder=""
								onfocus="this.value = '';" onblur="if (this.value == '') {this.placeholder = '';}">
							<input type="button" id="search" value=" " />
						</form>
					</div>

					<div class="clear"> </div>
				</div>
				<div class="clear"> </div>
				<!---End-top-menu-search---->
			</div>
			<!---End-header---->
		</div>
		<div class="clear"> </div>
		<!---start-content---->
		<div class="main-content">
			<div class="wrap">

				<div class="right-content">
					<div class="right-content-heading">
						<!-- <div class="right-content-heading-left">
						</div>
						<div class="clear"> </div> -->
					</div>
					<div class="content-grids">
						<div id="list_videos_most_recent_videos_items">
						</div>
						<div class="clear"> </div>
						<!---start-pagenation----->
						<div class="clear"> </div>
						<!---End-pagenation----->
					</div>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
	</div>
	<div class="clear"> </div>
	<!---End-content---->
	<!---start-copy-right---->
	<div class="copy-right">
		<p><a href="javascript:void(0)">w3layouts</a></p>
	</div>
	<!---End-copy-right---->
	<!---End-wrap---->
</body>
<input type="hidden" id="categoryId" name="categoryId" th:value="${categoryId}" />
<input type="hidden" id="wxPayUrl" name="wxPayUrl" th:value="${wxPayUrl}" />
<input type="hidden" th:value="${video?.id}" id="videoId" />
<input type="hidden" id="imgUrl" th:value="${video?.imgUrl}" />
<input type="hidden" id="videoUrl" th:value="${video?.videoUrl}" />
<input type="hidden" th:value="${video?.userId}" id="author" />
<script src="/js/index.js"></script>

</html>