<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	<head>
		<title>Videos website for high end mobiles,like samsung nokia mobile website templates for free | Home :: w3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="./css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<meta name="keywords" content="Videos iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script src="https://unpkg.com/mescroll.js@1.4.1/mescroll.min.js" charset="utf-8"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
		<script src="//cdn.jsdelivr.net/npm/xgplayer@1.1.4/browser/index.js" charset="utf-8"></script>
		<script src="//cdn.jsdelivr.net/npm/xgplayer-mp4/browser/index.js" charset="utf-8"></script>
	</head>
	<body>
		<!---start-wrap---->
			<!---start-header---->
			<div class="header">
				<div class="wrap">
				<!---start-logo---->
				<div class="logo">
					<a href="index.html"><img src="./images/logo.png" title="logo" /></a>
				</div>
				<!---End-logo---->
				<!---start-top-menu-search---->
				<div class="top-menu">
					<div class="top-nav">
						<ul>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Videos</a></li>
							<li><a href="categories.html">Categories</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
					<div class="search">
						<form>
							<input type="text" class="textbox" value="Search:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
							<input type="submit" value=" " />
						</form>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="clear"> </div>
				<!---End-top-menu-search---->
			</div>
			<!---End-header---->
		</div>
		<div class="clear"> </div>
		<!---start-content---->
		<div class="main-content">
			<div class="wrap">
			
			<div class="right-content">
				<div class="right-content-heading">
					<div class="right-content-heading-left">
						<h3>Latest Colletcions of videos</h3>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="content-grids">
					<div class="content-grid">
						<a href="singlepage.html"><img src="./images/gridallbum1.png" title="allbum-name" /></a>
						<h3>Lorem ipsum dolor sit amet,</h3>
						<ul>
							<li><a href="#"><img src="./images/likes.png" title="image-name" /></a></li>
							<li><a href="#"><img src="./images/views.png" title="image-name" /></a></li>
							<li><a href="#"><img src="./images/link.png" title="image-name" /></a></li>
						</ul>
						<a class="button" href="singlepage.html">Watch now</a>
					</div>
					<div class="content-grid last-grid">
						<a href="singlepage.html"><img src="./images/gridallbum2.png" title="allbum-name" /></a>
						<h3>consectetur adipisicing elit.</h3>
						<ul>
							<li><a href="#"><img src="./images/likes.png" title="image-name" /></a></li>
							<li><a href="#"><img src="./images/views.png" title="image-name" /></a></li>
							<li><a href="#"><img src="./images/link.png" title="image-name" /></a></li>
						</ul>
						<a class="button" href="singlepage.html">Watch now</a>
					</div>

					<div class="clear"> </div>
					<!---start-pagenation----->
					<div class="pagenation">
						<ul>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
					<div class="clear"> </div>
					<!---End-pagenation----->
				</div>
			</div>
			<div class="clear"> </div>
			</div>
		</div>
		<div class="clear"> </div>
		<!---End-content---->
		<!---start-copy-right---->
		<div class="copy-right">
			<p>Design by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
		<!---End-copy-right---->
		<!---End-wrap---->
	</body>
	<script>
        $(function () {
            function onBridgeReady() {
                WeixinJSBridge.call('hideOptionMenu');
            }
            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                } else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                }
            } else {
                onBridgeReady();
            }
        });
    </script>
</html>

