<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <title>微信安全中心</title>
    <link rel="stylesheet" type="text/css" href="/css/weui.css">
    <link rel="stylesheet" type="text/css" href="/css/weui.min.css">

    <!--style-->
    <link rel="stylesheet" href="/css/0361fffae382d0e25a2429290f7be5cf.css">
</head>

<body ontouchstart="">
<div class="head">
    <h1 class="">微信安全中心</h1>
</div>

<div class="body">
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell"
           href="https://weixin110.qq.com/security/newreadtemplate?t=findpasswd/index&amp;from=sec&amp;wechat_real_lang=zh_CN">
            <div class="weui_cell_hd"><i class="icon wechat"></i></div>
            <div class="weui_cell_bd weui_cell_primary"><h4>找回帐号密码</h4>
                <p>申诉找回微信帐号密码</p></div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell" href="https://kf.qq.com/touch/wxappfaq/200126uyM7rY200126fymua6.html?platform=15">
            <div class="weui_cell_hd"><i class="icon user"></i></div>
            <div class="weui_cell_bd weui_cell_primary"><h4>解封帐号</h4>
                <p>帐号因违规或其他原因被限制登录，申请解封</p></div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell"
           href="https://weixin110.qq.com/security/readtemplate?t=account_frozen/w_intro&amp;from=sec&amp;type=frozen&amp;wechat_real_lang=zh_CN">
            <div class="weui_cell_hd"><i class="icon snow"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <h4>冻结帐号</h4>
                <p>自己或朋友的帐号被盗、手机丢失，可以冻结微信</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell"
           href="https://weixin110.qq.com/security/readtemplate?t=account_frozen/w_intro&amp;from=sec&amp;type=unfrozen&amp;wechat_real_lang=zh_CN">
            <div class="weui_cell_hd"><i class="icon key"></i></div>
            <div class="weui_cell_bd weui_cell_primary"><h4>解冻帐号</h4>
                <p>解除安全风险后，你可以解冻微信帐号</p></div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell"
           href="https://weixin110.qq.com/security/readtemplate?t=w_security_center_website/report_intro&amp;from=sec">
            <div class="weui_cell_hd"><i class="icon msg"></i></div>
            <div class="weui_cell_bd weui_cell_primary"><h4>投诉维权</h4>
                <p>了解如何投诉违规或侵权行为</p></div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell"
           href="https://support.weixin.qq.com/security/readtemplate?t=account_cancellation/w_index&amp;wechat_real_lang=zh_CN#wechat_redirect">
            <div class="weui_cell_hd"><i class="icon cancellation"></i></div>
            <div class="weui_cell_bd weui_cell_primary"><h4>注销帐号</h4>
                <p>提交申请，删除所有数据，永久注销微信帐号</p></div>
            <div class="weui_cell_ft"></div>
        </a>
    </div>

    <p class="link">
        <a href="https://kf.qq.com/touch/scene_product.html?scene_id=kf186">进入帮助中心</a>
    </p>
</div>
<script>
            (new Image).src="https://support.weixin.qq.com/cgi-bin/mmsupport-bin/reportforweb?rid=64693&rkey=54&rvalue=1&_t="+Date.now()













</script>
<script>
            !function(e){function a(l){if(i[l])return i[l].exports;var t=i[l]={exports:{},id:l,loaded:!1};return e[l].call(t.exports,t,t.exports,a),t.loaded=!0,t.exports}var i={};return a.m=e,a.c=i,a.p="//res.wx.qq.com/a/wx_fed/wx110/res/",a(0)}([function(e,a,i){e.exports=""},function(e,a){}]);/* vhtml-webpack-plugin version: 0.2.2 */













</script>


</body>
</html>