<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <title>投诉维权</title>
    <link rel="stylesheet" type="text/css" href="/css/weui.min.css">
    <link rel="stylesheet" href="/css/0361fffae382d0e25a2429290f7be5cf.css">

    <style type="text/css">
        body {
            background-color: var(--weui-BG-0);
            color: var(--weui-FG-0)
        }


    </style>
</head>

<body ontouchstart="">
<div class="body">
    <div class="weui-cells__title">请选择投诉该网页的原因:</div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="https://mp.weixin.qq.com/s/DY20sK5wqMgfqDSa2VndSQ">
            <div class="weui-cell__bd">网页包含欺诈信息（如：假红包）</div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="https://mp.weixin.qq.com/s/VDVkmf9VPyZp5fxbVgCB2g">
            <div class="weui-cell__bd">网页包含违法信息</div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access"
           href="http://mp.weixin.qq.com/s?__biz=MzA5MzEzNDg3MQ==&amp;mid=505283684&amp;idx=1&amp;sn=6cebeb26176bae15d7aca5f290f1bf93">
            <div class="weui-cell__bd">网页可能包含谣言信息</div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="http://mp.weixin.qq.com/s/LUWjczvw0ixVpHk3XkwMgA">
            <div class="weui-cell__bd">网页包含诱导分享/关注性质的内容</div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="http://mp.weixin.qq.com/s/LUWjczvw0ixVpHk3XkwMgA">
            <div class="weui-cell__bd">网页包含（虚假/抽奖性质/欺诈）拼
                <br/>
                团信息
            </div>
            <div class="weui-cell__ft"></div>
        </a>

        <a class="weui-cell weui-cell_access" href="http://mp.weixin.qq.com/s/LUWjczvw0ixVpHk3XkwMgA">
            <div class="weui-cell__bd">网页包含不适当的内容对我造成骚扰</div>
            <div class="weui-cell__ft"></div>
        </a>

        <a class="weui-cell weui-cell_access" href="http://mp.weixin.qq.com/s/LUWjczvw0ixVpHk3XkwMgA">
            <div class="weui-cell__bd">网页包含有偿投票信息</div>
            <div class="weui-cell__ft"></div>
        </a>

        <a class="weui-cell weui-cell_access" href="http://mp.weixin.qq.com/s/LUWjczvw0ixVpHk3XkwMgA">
            <div class="weui-cell__bd">网页包含隐私泄露风险</div>
            <div class="weui-cell__ft"></div>
        </a>

    </div>
    <p class="link">
        <a href="https://kf.qq.com/touch/scene_product.html?scene_id=kf186">投诉须知</a>
    </p>
</div>
<script>
    !function (e) {
        function i(s) {
            if (l[s]) return l[s].exports;
            var c = l[s] = {exports: {}, id: s, loaded: !1};
            return e[s].call(c.exports, c, c.exports, i), c.loaded = !0, c.exports
        }

        var l = {};
        return i.m = e, i.c = l, i.p = "//res.wx.qq.com/a/wx_fed/wx110/res/", i(0)
    }([function (e, i) {
        e.exports = ""
    }]);/* vhtml-webpack-plugin version: 0.2.2 */


</script>


</body>
</html>