<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name=viewport
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
    <meta name="referrer" content="no-referrer">
    <title>xgplayer</title>
    <style type="text/css">
        html, body {
            width: 50%;
            height: 50%;
            margin: auto;
            overflow: hidden;
        }





    </style>
</head>
<body>
<div id="mse"></div>
<script src="//cdn.jsdelivr.net/npm/xgplayer@1.1.4/browser/index.js" charset="utf-8"></script>
<script>
    let player = new Player({
        "id": "mse",
        "url": "//s1.pstatp.com/cdn/expire-1-M/byted-player-videos/1.0.0/xgplayer-demo.mp4",
        "playsinline": true,
        "closeVideoTouch": true,
        "preloadTime": 15, // 默认预加载 15 秒
        "closeVideoDblclick": true,
        "poster": "//s2.pstatp.com/cdn/expire-1-M/byted-player-videos/1.0.0/poster.jpg",
        "whitelist": [
            ""
        ],
        "videoInit": true,
        "fluid": true,
        "autoplay": false,
        execBeforePluginsCall: [() => {
            console.log('Execute before plugins call')
        }]
    });





</script>
</body>
</html>
