<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.reward.mapper.SysWebMainMapper">

    <resultMap type="SysWebMain" id="SysWebMainResult">
        <result property="id" column="id"/>
        <result property="mainUrl" column="main_url"/>
        <result property="mainStatus" column="main_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="shortUrl" column="short_url"/>
    </resultMap>

    <sql id="selectSysWebMainVo">
        select id, main_url, main_status, create_time, update_time, short_url from sys_web_main
    </sql>

    <select id="selectSysWebMainList" parameterType="SysWebMain" resultMap="SysWebMainResult">
        <include refid="selectSysWebMainVo"/>
        <where>
            <if test="mainUrl != null  and mainUrl != ''">and main_url = #{mainUrl}</if>
            <if test="mainStatus != null  and mainStatus != ''">and main_status = #{mainStatus}</if>
            <if test="shortUrl != null  and shortUrl != ''">and short_url = #{shortUrl}</if>
        </where>
    </select>

    <select id="selectSysWebMainById" parameterType="Long" resultMap="SysWebMainResult">
        <include refid="selectSysWebMainVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysWebMain" parameterType="SysWebMain" useGeneratedKeys="true" keyProperty="id">
        insert into sys_web_main
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mainUrl != null  and mainUrl != ''">main_url,</if>
            <if test="mainStatus != null  and mainStatus != ''">main_status,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="shortUrl != null  and shortUrl != ''">short_url,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mainUrl != null  and mainUrl != ''">#{mainUrl},</if>
            <if test="mainStatus != null  and mainStatus != ''">#{mainStatus},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="shortUrl != null  and shortUrl != ''">#{shortUrl},</if>
        </trim>
    </insert>

    <update id="updateSysWebMain" parameterType="SysWebMain">
        update sys_web_main
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainUrl != null  and mainUrl != ''">main_url = #{mainUrl},</if>
            <if test="mainStatus != null  and mainStatus != ''">main_status = #{mainStatus},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="shortUrl != null  and shortUrl != ''">short_url = #{shortUrl},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysWebMainById" parameterType="Long">
        delete from sys_web_main where id = #{id}
    </delete>

    <delete id="deleteSysWebMainByIds" parameterType="String">
        delete from sys_web_main where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>