<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.reward.mapper.TradeMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.reward.domain.Trade">
    <id column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
    <result column="payer_type" jdbcType="VARCHAR" property="payerType" />
    <result column="payer" jdbcType="VARCHAR" property="payer" />
    <result column="payee_type" jdbcType="VARCHAR" property="payeeType" />
    <result column="payee" jdbcType="VARCHAR" property="payee" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="third_trade_no" jdbcType="VARCHAR" property="thirdTradeNo" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="payee_no" jdbcType="VARCHAR" property="payeeNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    trade_no, payer_type, payer, payee_type, payee, amount, state, category, pay_type, 
    third_trade_no, description, remark, gmt_create, create_by, gmt_modified, modified_by, 
    create_time, payee_no
  </sql>
  <select id="selectByExample" parameterType="com.ruoyi.reward.domain.TradeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trade
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade
    where trade_no = #{tradeNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from trade
    where trade_no = #{tradeNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ruoyi.reward.domain.TradeExample">
    delete from trade
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ruoyi.reward.domain.Trade">
    insert into trade (trade_no, payer_type, payer, 
      payee_type, payee, amount, 
      state, category, pay_type, 
      third_trade_no, description, remark, 
      gmt_create, create_by, gmt_modified, 
      modified_by, create_time, payee_no
      )
    values (#{tradeNo,jdbcType=VARCHAR}, #{payerType,jdbcType=VARCHAR}, #{payer,jdbcType=VARCHAR}, 
      #{payeeType,jdbcType=VARCHAR}, #{payee,jdbcType=VARCHAR}, #{amount,jdbcType=BIGINT}, 
      #{state,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR}, 
      #{thirdTradeNo,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{payeeNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.reward.domain.Trade">
    insert into trade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="payerType != null">
        payer_type,
      </if>
      <if test="payer != null">
        payer,
      </if>
      <if test="payeeType != null">
        payee_type,
      </if>
      <if test="payee != null">
        payee,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="thirdTradeNo != null">
        third_trade_no,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="payeeNo != null">
        payee_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="payerType != null">
        #{payerType,jdbcType=VARCHAR},
      </if>
      <if test="payer != null">
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="payeeType != null">
        #{payeeType,jdbcType=VARCHAR},
      </if>
      <if test="payee != null">
        #{payee,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="thirdTradeNo != null">
        #{thirdTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payeeNo != null">
        #{payeeNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ruoyi.reward.domain.TradeExample" resultType="java.lang.Long">
    select count(*) from trade
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update trade
    <set>
      <if test="record.tradeNo != null">
        trade_no = #{record.tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.payerType != null">
        payer_type = #{record.payerType,jdbcType=VARCHAR},
      </if>
      <if test="record.payer != null">
        payer = #{record.payer,jdbcType=VARCHAR},
      </if>
      <if test="record.payeeType != null">
        payee_type = #{record.payeeType,jdbcType=VARCHAR},
      </if>
      <if test="record.payee != null">
        payee = #{record.payee,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.payType != null">
        pay_type = #{record.payType,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdTradeNo != null">
        third_trade_no = #{record.thirdTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedBy != null">
        modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payeeNo != null">
        payee_no = #{record.payeeNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update trade
    set trade_no = #{record.tradeNo,jdbcType=VARCHAR},
      payer_type = #{record.payerType,jdbcType=VARCHAR},
      payer = #{record.payer,jdbcType=VARCHAR},
      payee_type = #{record.payeeType,jdbcType=VARCHAR},
      payee = #{record.payee,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=BIGINT},
      state = #{record.state,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      pay_type = #{record.payType,jdbcType=VARCHAR},
      third_trade_no = #{record.thirdTradeNo,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      modified_by = #{record.modifiedBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      payee_no = #{record.payeeNo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.reward.domain.Trade">
    update trade
    <set>
      <if test="payerType != null">
        payer_type = #{payerType,jdbcType=VARCHAR},
      </if>
      <if test="payer != null">
        payer = #{payer,jdbcType=VARCHAR},
      </if>
      <if test="payeeType != null">
        payee_type = #{payeeType,jdbcType=VARCHAR},
      </if>
      <if test="payee != null">
        payee = #{payee,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="thirdTradeNo != null">
        third_trade_no = #{thirdTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payeeNo != null">
        payee_no = #{payeeNo,jdbcType=VARCHAR},
      </if>
    </set>
    where trade_no = #{tradeNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.reward.domain.Trade">
    update trade
    set payer_type = #{payerType,jdbcType=VARCHAR},
      payer = #{payer,jdbcType=VARCHAR},
      payee_type = #{payeeType,jdbcType=VARCHAR},
      payee = #{payee,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=BIGINT},
      state = #{state,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=VARCHAR},
      third_trade_no = #{thirdTradeNo,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      payee_no = #{payeeNo,jdbcType=VARCHAR}
    where trade_no = #{tradeNo,jdbcType=VARCHAR}
  </update>
</mapper>