<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.reward.mapper.TradeMapper">

    <resultMap type="Trade" id="TradeResult">
        <result property="tradeNo" column="trade_no"/>
        <result property="payerType" column="payer_type"/>
        <result property="payer" column="payer"/>
        <result property="payeeType" column="payee_type"/>
        <result property="payee" column="payee"/>
        <result property="amount" column="amount"/>
        <result property="state" column="state"/>
        <result property="category" column="category"/>
        <result property="payType" column="pay_type"/>
        <result property="thirdTradeNo" column="third_trade_no"/>
        <result property="description" column="description"/>
        <result property="remark" column="remark"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="createBy" column="create_by"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="modifiedBy" column="modified_by"/>
        <result property="createTime" column="create_time"/>
        <result property="payeeNo" column="payee_no"/>
    </resultMap>

    <sql id="selectTradeVo">
        select trade_no, payer_type, payer, payee_type, payee, amount, state, category, pay_type, third_trade_no,
        description, remark, gmt_create, create_by, gmt_modified, modified_by, create_time, payee_no from trade
    </sql>

    <select id="selectTradeList" parameterType="Trade" resultMap="TradeResult">
        <include refid="selectTradeVo"/>
        <where>
            <if test="payerType != null  and payerType != ''">and payer_type = #{payerType}</if>
            <if test="payer != null  and payer != ''">and payer = #{payer}</if>
            <if test="payeeType != null  and payeeType != ''">and payee_type = #{payeeType}</if>
            <if test="payee != null  and payee != ''">and payee = #{payee}</if>
            <if test="amount != null ">and amount = #{amount}</if>
            <if test="state != null  and state != ''">and state = #{state}</if>
            <if test="category != null  and category != ''">and category = #{category}</if>
            <if test="payType != null  and payType != ''">and pay_type = #{payType}</if>
            <if test="thirdTradeNo != null  and thirdTradeNo != ''">and third_trade_no = #{thirdTradeNo}</if>
            <if test="description != null  and description != ''">and description = #{description}</if>
            <if test="gmtCreate != null ">and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null ">and gmt_modified = #{gmtModified}</if>
            <if test="modifiedBy != null  and modifiedBy != ''">and modified_by = #{modifiedBy}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="payeeNo != null  and payeeNo != ''">and payee_no = #{payeeNo}</if>
        </where>
    </select>

    <select id="selectTradeById" parameterType="String" resultMap="TradeResult">
        <include refid="selectTradeVo"/>
        where trade_no = #{tradeNo}
    </select>

    <insert id="insertTrade" parameterType="Trade">
        insert into trade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tradeNo != null  and tradeNo != ''">trade_no,</if>
            <if test="payerType != null  and payerType != ''">payer_type,</if>
            <if test="payer != null  and payer != ''">payer,</if>
            <if test="payeeType != null  and payeeType != ''">payee_type,</if>
            <if test="payee != null  and payee != ''">payee,</if>
            <if test="amount != null ">amount,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="category != null  and category != ''">category,</if>
            <if test="payType != null  and payType != ''">pay_type,</if>
            <if test="thirdTradeNo != null  and thirdTradeNo != ''">third_trade_no,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="gmtCreate != null ">gmt_create,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="gmtModified != null ">gmt_modified,</if>
            <if test="modifiedBy != null  and modifiedBy != ''">modified_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="payeeNo != null  and payeeNo != ''">payee_no,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tradeNo != null  and tradeNo != ''">#{tradeNo},</if>
            <if test="payerType != null  and payerType != ''">#{payerType},</if>
            <if test="payer != null  and payer != ''">#{payer},</if>
            <if test="payeeType != null  and payeeType != ''">#{payeeType},</if>
            <if test="payee != null  and payee != ''">#{payee},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="category != null  and category != ''">#{category},</if>
            <if test="payType != null  and payType != ''">#{payType},</if>
            <if test="thirdTradeNo != null  and thirdTradeNo != ''">#{thirdTradeNo},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="gmtCreate != null ">#{gmtCreate},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="gmtModified != null ">#{gmtModified},</if>
            <if test="modifiedBy != null  and modifiedBy != ''">#{modifiedBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="payeeNo != null  and payeeNo != ''">#{payeeNo},</if>
        </trim>
    </insert>

    <update id="updateTrade" parameterType="Trade">
        update trade
        <trim prefix="SET" suffixOverrides=",">
            <if test="payerType != null  and payerType != ''">payer_type = #{payerType},</if>
            <if test="payer != null  and payer != ''">payer = #{payer},</if>
            <if test="payeeType != null  and payeeType != ''">payee_type = #{payeeType},</if>
            <if test="payee != null  and payee != ''">payee = #{payee},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="category != null  and category != ''">category = #{category},</if>
            <if test="payType != null  and payType != ''">pay_type = #{payType},</if>
            <if test="thirdTradeNo != null  and thirdTradeNo != ''">third_trade_no = #{thirdTradeNo},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="gmtCreate != null ">gmt_create = #{gmtCreate},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="gmtModified != null ">gmt_modified = #{gmtModified},</if>
            <if test="modifiedBy != null  and modifiedBy != ''">modified_by = #{modifiedBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="payeeNo != null  and payeeNo != ''">payee_no = #{payeeNo},</if>
        </trim>
        where trade_no = #{tradeNo}
    </update>

    <delete id="deleteTradeById" parameterType="String">
        delete from trade where trade_no = #{tradeNo}
    </delete>

    <delete id="deleteTradeByIds" parameterType="String">
        delete from trade where trade_no in
        <foreach item="tradeNo" collection="array" open="(" separator="," close=")">
            #{tradeNo}
        </foreach>
    </delete>

</mapper>