<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.reward.mapper.VideoMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.reward.domain.Video">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="money"  property="money" />
    <result column="suc_count"  property="sucCount" />
    <result column="img_url"  property="imgUrl" />
    <result column="user_id"  property="userId" />
    <result column="name"  property="name" />
    <result column="video_url"  property="videoUrl" />
    <result column="duration"  property="duration" />
    <result column="video_type"  property="videoType" />
    <result column="status"  property="status" />
    <result column="logo"  property="logo" />
    <result column="click" jdbcType="INTEGER" property="click" />
    <result column="short_url"  property="shortUrl" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, money, suc_count, img_url, user_id, name, video_url, duration, video_type, status, logo, click,  short_url, category_id, create_time
  </sql>
  <select id="selectByExample" parameterType="com.ruoyi.reward.domain.VideoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from video
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from video
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ruoyi.reward.domain.VideoExample">
    delete from video
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.reward.domain.Video" useGeneratedKeys="true">
    insert into video (money, suc_count, img_url,
      user_id, name, video_url, 
      duration, video_type, status, 
      logo, click,
       short_url, category_id,
      create_time)
    values (#{money}, #{sucCount}, #{imgUrl},
      #{userId}, #{name}, #{videoUrl}, 
      #{duration}, #{videoType}, #{status}, 
      #{logo},  #{click,jdbcType=INTEGER},
      #{shortUrl}, #{categoryId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.reward.domain.Video" useGeneratedKeys="true">
    insert into video
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="money != null">
        money,
      </if>
      <if test="sucCount != null">
        suc_count,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="videoType != null">
        video_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="logo != null">
        logo,
      </if>


      <if test="click != null">
        click,
      </if>

      <if test="shortUrl != null">
        short_url,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="money != null">
        #{money},
      </if>
      <if test="sucCount != null">
        #{sucCount},
      </if>
      <if test="imgUrl != null">
        #{imgUrl},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="videoUrl != null">
        #{videoUrl},
      </if>
      <if test="duration != null">
        #{duration},
      </if>
      <if test="videoType != null">
        #{videoType},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="logo != null">
        #{logo},
      </if>


      <if test="click != null">
        #{click,jdbcType=INTEGER},
      </if>

      <if test="shortUrl != null">
        #{shortUrl},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ruoyi.reward.domain.VideoExample" resultType="java.lang.Long">
    select count(*) from video
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update video
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.money != null">
        money = #{record.money},
      </if>
      <if test="record.sucCount != null">
        suc_count = #{record.sucCount},
      </if>
      <if test="record.imgUrl != null">
        img_url = #{record.imgUrl},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId},
      </if>
      <if test="record.name != null">
        name = #{record.name},
      </if>
      <if test="record.videoUrl != null">
        video_url = #{record.videoUrl},
      </if>
      <if test="record.duration != null">
        duration = #{record.duration},
      </if>
      <if test="record.videoType != null">
        video_type = #{record.videoType},
      </if>
      <if test="record.status != null">
        status = #{record.status},
      </if>
      <if test="record.logo != null">
        logo = #{record.logo},
      </if>


      <if test="record.click != null">
        click = #{record.click,jdbcType=INTEGER},
      </if>

      <if test="record.shortUrl != null">
        short_url = #{record.shortUrl},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update video
    set id = #{record.id,jdbcType=INTEGER},
      money = #{record.money},
      suc_count = #{record.sucCount},
      img_url = #{record.imgUrl},
      user_id = #{record.userId},
      name = #{record.name},
      video_url = #{record.videoUrl},
      duration = #{record.duration},
      video_type = #{record.videoType},
      status = #{record.status},
      logo = #{record.logo},
      click = #{record.click,jdbcType=INTEGER},
      short_url = #{record.shortUrl},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.reward.domain.Video">
    update video
    <set>
      <if test="money != null">
        money = #{money},
      </if>
      <if test="sucCount != null">
        suc_count = #{sucCount},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl},
      </if>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl},
      </if>
      <if test="duration != null">
        duration = #{duration},
      </if>
      <if test="videoType != null">
        video_type = #{videoType},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="logo != null">
        logo = #{logo},
      </if>


      <if test="click != null">
        click = #{click,jdbcType=INTEGER},
      </if>
      <if test="shortUrl != null">
        short_url = #{shortUrl},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.reward.domain.Video">
    update video
    set money = #{money},
    suc_count = #{sucCount},
      img_url = #{imgUrl},
      user_id = #{userId},
      name = #{name},
      video_url = #{videoUrl},
      duration = #{duration},
      video_type = #{videoType},
      status = #{status},
      logo = #{logo},
      click = #{click,jdbcType=INTEGER},
      short_url = #{shortUrl},
      category_id = #{categoryId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>