<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="include :: header('预览视频')" />
</head>

<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <div id="mse"></div>
        <script src="//cdn.jsdelivr.net/npm/xgplayer@1.1.4/browser/index.js" charset="utf-8"></script>
    </div>
    <input type="hidden" th:value="${video.videoUrl}" id="videoUrl" />
    <input type="hidden" th:value="${video.url}" id="url" />

    <th:block th:include="include :: footer" />

    <script>
        $(function () {
            let player = new Player({
                "volume": 0.0,
                "id": "mse",
                "poster": document.getElementById("url").value ? document.getElementById("url").value : '',
                "url": document.getElementById("videoUrl").value ? document.getElementById("videoUrl").value : "https://video.jializyw.com:8800/20200706/LdyE4Wil/index.m3u8",
                "playsinline": true,
                "whitelist": [
                    ""
                ],
                "fluid": true
            });
        });
    </script>
</body>

</html>