<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sms.mapper.EnterpriseInfoMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.sms.domain.EnterpriseInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName"/>
        <result column="account_opening_date" jdbcType="TIMESTAMP" property="accountOpeningDate"/>
        <result column="sales_manager" jdbcType="VARCHAR" property="salesManager"/>
        <result column="payment_type" jdbcType="VARCHAR" property="paymentType"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="enterprise_account" jdbcType="VARCHAR" property="enterpriseAccount"/>
        <result column="enterprise_password" jdbcType="VARCHAR" property="enterprisePassword"/>
        <result column="send_the_template" jdbcType="VARCHAR" property="sendTheTemplate"/>
        <result column="sensitive_word_review" jdbcType="VARCHAR" property="sensitiveWordReview"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="contact" jdbcType="VARCHAR" property="contact"/>
        <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, enterprise_name, account_opening_date, sales_manager, payment_type, status, remarks, 
    enterprise_account, enterprise_password, send_the_template, sensitive_word_review, 
    gmt_create, gmt_modified, contact, contact_phone
  </sql>
    <select id="selectByExample" parameterType="com.ruoyi.sms.domain.EnterpriseInfoExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from enterprise_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from enterprise_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from enterprise_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.ruoyi.sms.domain.EnterpriseInfoExample">
        delete from enterprise_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.sms.domain.EnterpriseInfo"
            useGeneratedKeys="true">
    insert into enterprise_info (enterprise_name, account_opening_date, 
      sales_manager, payment_type, status, 
      remarks, enterprise_account, enterprise_password, 
      send_the_template, sensitive_word_review, gmt_create, 
      gmt_modified, contact, contact_phone
      )
    values (#{enterpriseName,jdbcType=VARCHAR}, #{accountOpeningDate,jdbcType=TIMESTAMP}, 
      #{salesManager,jdbcType=VARCHAR}, #{paymentType,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{enterpriseAccount,jdbcType=VARCHAR}, #{enterprisePassword,jdbcType=VARCHAR}, 
      #{sendTheTemplate,jdbcType=VARCHAR}, #{sensitiveWordReview,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{contact,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.ruoyi.sms.domain.EnterpriseInfo" useGeneratedKeys="true">
        insert into enterprise_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="enterpriseName != null">
                enterprise_name,
            </if>
            <if test="accountOpeningDate != null">
                account_opening_date,
            </if>
            <if test="salesManager != null">
                sales_manager,
            </if>
            <if test="paymentType != null">
                payment_type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="enterpriseAccount != null">
                enterprise_account,
            </if>
            <if test="enterprisePassword != null">
                enterprise_password,
            </if>
            <if test="sendTheTemplate != null">
                send_the_template,
            </if>
            <if test="sensitiveWordReview != null">
                sensitive_word_review,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
            <if test="contact != null">
                contact,
            </if>
            <if test="contactPhone != null">
                contact_phone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="enterpriseName != null">
                #{enterpriseName,jdbcType=VARCHAR},
            </if>
            <if test="accountOpeningDate != null">
                #{accountOpeningDate,jdbcType=TIMESTAMP},
            </if>
            <if test="salesManager != null">
                #{salesManager,jdbcType=VARCHAR},
            </if>
            <if test="paymentType != null">
                #{paymentType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="enterpriseAccount != null">
                #{enterpriseAccount,jdbcType=VARCHAR},
            </if>
            <if test="enterprisePassword != null">
                #{enterprisePassword,jdbcType=VARCHAR},
            </if>
            <if test="sendTheTemplate != null">
                #{sendTheTemplate,jdbcType=VARCHAR},
            </if>
            <if test="sensitiveWordReview != null">
                #{sensitiveWordReview,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="contact != null">
                #{contact,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                #{contactPhone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ruoyi.sms.domain.EnterpriseInfoExample"
            resultType="java.lang.Long">
        select count(*) from enterprise_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update enterprise_info
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.enterpriseName != null">
                enterprise_name = #{record.enterpriseName,jdbcType=VARCHAR},
            </if>
            <if test="record.accountOpeningDate != null">
                account_opening_date = #{record.accountOpeningDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.salesManager != null">
                sales_manager = #{record.salesManager,jdbcType=VARCHAR},
            </if>
            <if test="record.paymentType != null">
                payment_type = #{record.paymentType,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.remarks != null">
                remarks = #{record.remarks,jdbcType=VARCHAR},
            </if>
            <if test="record.enterpriseAccount != null">
                enterprise_account = #{record.enterpriseAccount,jdbcType=VARCHAR},
            </if>
            <if test="record.enterprisePassword != null">
                enterprise_password = #{record.enterprisePassword,jdbcType=VARCHAR},
            </if>
            <if test="record.sendTheTemplate != null">
                send_the_template = #{record.sendTheTemplate,jdbcType=VARCHAR},
            </if>
            <if test="record.sensitiveWordReview != null">
                sensitive_word_review = #{record.sensitiveWordReview,jdbcType=VARCHAR},
            </if>
            <if test="record.gmtCreate != null">
                gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.gmtModified != null">
                gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="record.contact != null">
                contact = #{record.contact,jdbcType=VARCHAR},
            </if>
            <if test="record.contactPhone != null">
                contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update enterprise_info
        set id = #{record.id,jdbcType=INTEGER},
        enterprise_name = #{record.enterpriseName,jdbcType=VARCHAR},
        account_opening_date = #{record.accountOpeningDate,jdbcType=TIMESTAMP},
        sales_manager = #{record.salesManager,jdbcType=VARCHAR},
        payment_type = #{record.paymentType,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=VARCHAR},
        remarks = #{record.remarks,jdbcType=VARCHAR},
        enterprise_account = #{record.enterpriseAccount,jdbcType=VARCHAR},
        enterprise_password = #{record.enterprisePassword,jdbcType=VARCHAR},
        send_the_template = #{record.sendTheTemplate,jdbcType=VARCHAR},
        sensitive_word_review = #{record.sensitiveWordReview,jdbcType=VARCHAR},
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        contact = #{record.contact,jdbcType=VARCHAR},
        contact_phone = #{record.contactPhone,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.sms.domain.EnterpriseInfo">
        update enterprise_info
        <set>
            <if test="enterpriseName != null">
                enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
            </if>
            <if test="accountOpeningDate != null">
                account_opening_date = #{accountOpeningDate,jdbcType=TIMESTAMP},
            </if>
            <if test="salesManager != null">
                sales_manager = #{salesManager,jdbcType=VARCHAR},
            </if>
            <if test="paymentType != null">
                payment_type = #{paymentType,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="enterpriseAccount != null">
                enterprise_account = #{enterpriseAccount,jdbcType=VARCHAR},
            </if>
            <if test="enterprisePassword != null">
                enterprise_password = #{enterprisePassword,jdbcType=VARCHAR},
            </if>
            <if test="sendTheTemplate != null">
                send_the_template = #{sendTheTemplate,jdbcType=VARCHAR},
            </if>
            <if test="sensitiveWordReview != null">
                sensitive_word_review = #{sensitiveWordReview,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="contact != null">
                contact = #{contact,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                contact_phone = #{contactPhone,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ruoyi.sms.domain.EnterpriseInfo">
    update enterprise_info
    set enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      account_opening_date = #{accountOpeningDate,jdbcType=TIMESTAMP},
      sales_manager = #{salesManager,jdbcType=VARCHAR},
      payment_type = #{paymentType,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      enterprise_account = #{enterpriseAccount,jdbcType=VARCHAR},
      enterprise_password = #{enterprisePassword,jdbcType=VARCHAR},
      send_the_template = #{sendTheTemplate,jdbcType=VARCHAR},
      sensitive_word_review = #{sensitiveWordReview,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      contact = #{contact,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>