<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <th:block th:include="include :: header('公众号配置信息列表')" />
</head>

<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>微信配置标识：</label>
                                <input type="text" name="configCode" />
                            </li>

                            <li>
                                <label>微信appid：</label>
                                <input type="text" name="appId" />
                            </li>
                            <li>
                                <label>微信 appsecret：</label>
                                <input type="text" name="appsecret" />
                            </li>
                            <li>
                                <label>商户id：</label>
                                <input type="text" name="mchId" />
                            </li>
                            <li>
                                <label>签名key：</label>
                                <input type="text" name="signKey" />
                            </li>
                            <li>
                                <label>证书地址：</label>
                                <input type="text" name="certFile" />
                            </li>
                            <li>
                                <label>token令牌：</label>
                                <input type="text" name="token" />
                            </li>
                            <li>
                                <label>消息加解密密钥：</label>
                                <input type="text" name="encodingAesKey" />
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:wechatConfig:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                    shiro:hasPermission="system:wechatConfig:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                    shiro:hasPermission="system:wechatConfig:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()"
                    shiro:hasPermission="system:wechatConfig:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:wechatConfig:edit') }]];
        var removeFlag = [[${@permission.hasPermi('system:wechatConfig:remove') }]];
        var prefix = ctx + "system/wechatConfig";
        var datas = [[${@dict.getType('sys_normal_disable') }]];


        /* 状态显示 */
        function stateTools(row) {
            if (row.state == 1) {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.id + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.id + '\')"></i> ';
            }
        }

        /* 管理-停用 */
        function disable(id) {
            $.modal.confirm("确认要停用吗？", function () {
                $.operate.post(prefix + "/changeStatus", { "id": id, "state": 1 });
            })
        }

        /* 管理启用 */
        function enable(id) {
            $.modal.confirm("确认要启用吗？", function () {
                $.operate.post(prefix + "/changeStatus", { "id": id, "state": 0 });
            })
        }

        $(function () {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "公众号配置信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'configCode',
                    title: '微信配置标识'
                },
                {
                    field: 'envType',
                    title: '环境类型'
                },
                {
                    field: 'appId',
                    title: '微信appid'
                },
                {
                    field: 'appsecret',
                    title: '微信 appsecret'
                },
                {
                    field: 'mchId',
                    title: '商户id'
                },
                {
                    field: 'signKey',
                    title: '签名key'
                },

                {
                    field: 'token',
                    title: 'token令牌'
                },

                {
                    field: 'gmtCreate',
                    title: '创建日期'
                },
                {
                    field: 'gmtModified',
                    title: '更新日期'
                },
                {
                    field: 'state',
                    title: '状态',
                    align: "left",
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(datas, item.state);
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return stateTools(row);
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>

</html>