<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ExtAccountDetailMapper">
    
    <resultMap type="AccountDetail" id="AccountDetailResult">
        <result property="id"    column="id"    />
        <result property="accountId"    column="account_id"    />
        <result property="amount"    column="amount"    />
        <result property="optType"    column="opt_type"    />
        <result property="remark"    column="remark"    />
        <result property="outTradeNo"    column="out_trade_no"    />
        <result property="bizCode"    column="biz_code"    />
        <result property="sourceCode"    column="source_code"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
        <result property="operator"    column="operator"    />
    </resultMap>

    <sql id="selectAccountDetailVo">
        select id, account_id, amount, opt_type, remark, out_trade_no, biz_code, source_code, gmt_create, gmt_modified, operator from account_detail
    </sql>

    <select id="selectAccountDetailList" parameterType="AccountDetail" resultMap="AccountDetailResult">
        <include refid="selectAccountDetailVo"/>
        <where>  
            <if test="accountId != null  and accountId != ''"> and account_id = #{accountId}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="optType != null  and optType != ''"> and opt_type = #{optType}</if>
            <if test="outTradeNo != null  and outTradeNo != ''"> and out_trade_no = #{outTradeNo}</if>
            <if test="bizCode != null  and bizCode != ''"> and biz_code = #{bizCode}</if>
            <if test="sourceCode != null  and sourceCode != ''"> and source_code = #{sourceCode}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
            <if test="operator != null  and operator != ''"> and operator = #{operator}</if>
        </where>
    </select>
    
    <select id="selectAccountDetailById" parameterType="Long" resultMap="AccountDetailResult">
        <include refid="selectAccountDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAccountDetail" parameterType="AccountDetail" useGeneratedKeys="true" keyProperty="id">
        insert into account_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null  and accountId != ''">account_id,</if>
            <if test="amount != null ">amount,</if>
            <if test="optType != null  and optType != ''">opt_type,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="outTradeNo != null  and outTradeNo != ''">out_trade_no,</if>
            <if test="bizCode != null  and bizCode != ''">biz_code,</if>
            <if test="sourceCode != null  and sourceCode != ''">source_code,</if>
            <if test="gmtCreate != null ">gmt_create,</if>
            <if test="gmtModified != null ">gmt_modified,</if>
            <if test="operator != null  and operator != ''">operator,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null  and accountId != ''">#{accountId},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="optType != null  and optType != ''">#{optType},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="outTradeNo != null  and outTradeNo != ''">#{outTradeNo},</if>
            <if test="bizCode != null  and bizCode != ''">#{bizCode},</if>
            <if test="sourceCode != null  and sourceCode != ''">#{sourceCode},</if>
            <if test="gmtCreate != null ">#{gmtCreate},</if>
            <if test="gmtModified != null ">#{gmtModified},</if>
            <if test="operator != null  and operator != ''">#{operator},</if>
         </trim>
    </insert>

    <update id="updateAccountDetail" parameterType="AccountDetail">
        update account_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="accountId != null  and accountId != ''">account_id = #{accountId},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="optType != null  and optType != ''">opt_type = #{optType},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="outTradeNo != null  and outTradeNo != ''">out_trade_no = #{outTradeNo},</if>
            <if test="bizCode != null  and bizCode != ''">biz_code = #{bizCode},</if>
            <if test="sourceCode != null  and sourceCode != ''">source_code = #{sourceCode},</if>
            <if test="gmtCreate != null ">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null ">gmt_modified = #{gmtModified},</if>
            <if test="operator != null  and operator != ''">operator = #{operator},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAccountDetailById" parameterType="Long">
        delete from account_detail where id = #{id}
    </delete>

    <delete id="deleteAccountDetailByIds" parameterType="String">
        delete from account_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>