<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>分页按钮</title>
    <!-- boostrap分页css文件 -->
    <link rel="stylesheet" type="text/css" th:href="@{/pron/pagination.min.css}">

</head>
<body>
<div class="container">
    <div class="box">
        <ul id="example-3" class="pagination"></ul>
        <div class="show"></div>
    </div>
</div>

<script th:src="@{/pron/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/pron/pagination.min.js}"></script>
<script type="text/javascript">
    $('#example-3').pagination({
        total: 200, // 总数据条数
        current: 1, // 当前页码
        length: 10, // 每页数据量
        size: 2, // 显示按钮个数
        /**
         * ajax请求远程数据
         * 此方法阻止按钮渲染
         * 直到调用refresh方法
         * @param  {[object]} options = {
         *      current: options.current,
         *      length: options.length,
         *      total: options.total
         *  }
         * @param  {[function]} refresh 回调函数以刷新分页按钮
         * @param  {[object]} $target [description]
         * @return {[type]}         [description]
         */
        ajax: function (options, refresh, $target) {
            $.ajax({
                type: 'post',
                url: '/monitor/operlog/list',
                data: {
                    pageNum: options.current,
                    pageSize: options.length
                },
                dataType: 'json'
            }).done(function (res) {
                console.log(res);
                // do something
                // 请务必调用此方法，否则分页按钮不会刷新
                refresh({
                    total: res.total,// 可选
                    length: res.length // 可选
                });
            }).fail(function (error) {

            });
        }
    });
</script>
</body>
</html>