<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta id="viewport" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>提示</title>
    <link rel="stylesheet" type="text/css" href="//res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css"/>
    <link href="//res.wx.qq.com/a/wx110/webpage-intercept/res/js/chunk-vendors.bf498f79.js" rel="preload" as="script"
          crossorigin="anonymous">
    <link href="//res.wx.qq.com/a/wx110/webpage-intercept/res/js/reason.18a216b4.js" rel="preload" as="script"
          crossorigin="anonymous">
</head>
<body>
<div id="app"></div>
<script>
    var cgiData = {
        "retcode": 0,
        "type": "block",
        "title": "已停止访问该网页",
        "desc": "网页包含诱导分享、关注等诱导行为内容，被多人投诉，为维护绿色上网环境，已停止访问。",
        "btns": [{
            "name": "申请恢复访问",
            "url": "https://weixin110.qq.com/security/newreadtemplate?t=webpage_intercept/w_more-info&url=https%3A%2F%2Fqq.com&evil_type=20&source=2&exportkey=",
            "type": "primary"
        }],
        "links": [{"name": "客服指引", "url": "https://kf.qq.com/faq/170118UnqeUZ170118mUb6fu.html"}, {
            "name": "查看规则",
            "url": "https://weixin.qq.com/cgi-bin/readtemplate?t=weixin_external_links_content_management_specification"
        }]
    };



</script>
<!-- built files will be auto injected -->
<script type="text/javascript" src="//res.wx.qq.com/a/wx110/webpage-intercept/res/js/chunk-vendors.bf498f79.js"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//res.wx.qq.com/a/wx110/webpage-intercept/res/js/reason.18a216b4.js"
        crossorigin="anonymous"></script>
</body>
</html>

